h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 100px;
   font-weight: bold;
   color: khaki;
   text-align:center; 
}

.titlename {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

